.containerJuego{
    padding-top: 50px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.loby{
    display: flex;
    flex-direction: row;
    
}
.sideleft {
    height: fit-content;
    padding: 5%;
    width: 40vw;
    height: 100vh;
    
    
}
.sideright{
    padding: 5%;
    width: 60vw;

}
.title{
  text-align: center; 
  padding-left: 5%; 
}

#prueba{
    
}